#neu_erstellen {
   input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid white;
      width: 60%;
      font-size: 1.2rem;
      line-height: 1.5rem;
      &:focus {
         border-bottom: 3px solid white;
      }
      &:focus-visible {
         outline: none;
      }
      &::placeholder {
         opacity: 0.8;
      }
   }
}
.untertitel {
   font-size: 0.9rem;
   text-transform: uppercase;
   margin: 2px 0px 5px 0px;
}
